.three-container{
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

#container{
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

#default{
  position: absolute;
}

#buttons{
  height: 25px;
  position: absolute;
  right: 40px;
  background-color: black;
}
