.three-container{
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

#container{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #FFF;
}

#buttons{
  height: 25px;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: black;
}
